{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <h3 class="title is-3">Playtime: Organise and manage your music</h3>
    <div class="box">
      <i class="fas fa-guitar fa-10x" style="color: red"></i>
      <i class="fas fa-plus fa-3x" style="color: rgb(66, 81, 216)"></i>
      <i class="fas fa-headphones fa-10x" style="color: rgb(17, 94, 17)"></i>
    </div>
  </div>
</section>