<form action="/dashboard/addplaylist" method="POST">
  <div class="field">
    <label class="label">Playlist Title</label> <input class="input" type="text" placeholder="Enter playlist title" name="title">
  </div>
  <button class="button is-link">Add Playlist</button>
</form>